@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl font-bold dark:text-indigo-600;
  }
  h2 {
    @apply text-3xl font-bold;
  }
  h3 {
    @apply text-2xl font-bold;
  }
  h4 {
    @apply text-xl font-bold;
  }
  h5 {
    @apply text-lg font-bold;
  }
  h6 {
    @apply text-base font-bold;
  }
}

@layer components {
  .menu {
    @apply w-full flex gap-4 cursor-pointer items-center px-4 py-2 hover:bg-gray-100 rounded-lg transition duration-300;
  }
  .box-white-outer{
    @apply bg-transparent h-[85%];
    border-radius: 50px 50px 0 0;
  
  }
  .card-counter{
    @apply bg-white rounded-lg p-7;
    box-shadow: 0px 0px 10px 2px #00000020;
  }
  .card-item-list{
     @apply bg-white p-5 mb-3;
     box-shadow: 0px 0px 10px 2px #00000020;
  }
  .card-counter-wrap {

    border-bottom: 2px solid #918f8f40;
  }
  .btn-main{
    background-color: #0066CC !important;
    color:#ffffff !important;
    font-weight: bold !important;
    border-radius: 100px !important;
  }
  .btn-add{
    right: 8rem !important;
    position: fixed !important;
    bottom: 1rem !important;
  }
  .box-middle{
    @apply bg-white p-8 max-w-xl m-auto;
    box-shadow: 0px 0px 10px 2px #00000040;
    border-radius: 30px;
  }
  .box-middle > div{
    @apply py-3;
    font-family: var(--font-roboto)
  }
  
 
  .detail {
    display: flex;
    align-items: center;
    font-size: 15px;
    
  }
  .label{
    @apply w-[35%]
  }

  .label {
    font-weight: bold;
  }
  .add-form select{
    width: 100%;
    border-bottom: 2px solid #e5e7eb;
    padding-bottom: 10px;
    padding-top: 20px;
    font-size: 15px;
    color: #73737c;
  }
  .datepicker label{
    margin-top:-20px
  }
  .font-12{
    font-size: 12px;
  }
  .border-right-login{
    border-right:2px solid #E2E8F0
  }
  .padding-4-rem{
    padding:0 4rem;
  }
  .box-login{
    @apply w-[100%];
    background-color: rgb(81 142 203 / 50%);
    padding: 50px;
    border-radius: 16px;
    box-shadow: 0px 0px 10px 2px #00000040;
  }
  .box-login input,.box-login input::placeholder{
    color:#ffffff !important
  }
  .transButton{
    background-color: transparent;
    padding: 0;
    min-width: auto;
    min-height: auto;
    height: auto;
  }
  @media(min-width:768px){
    .desktop-hide{
      display: none;
    }

  }

  
  @media(max-width:767px){
    .mobile-hide{
      display: none !important;
    }
    .p-0-mob{
      padding:0
    }
    .padding-2-rem-mob {
        padding: 0 2rem;
    }
    .box-login{
      padding:32px
    }
    .box-white-outer{
      @apply bg-white h-[85%];
      border-radius: 50px 50px 0 0;
    
    }

  }
}
